

			<footer class="wrapper style1 align-center">
				<div class="inner">
					<p>
						<a href="/">home</a> - 
						<a href="/prayertimes">prayer times</a> - 
						<a href="/qibla">qibla</a> - 
						<a href="/quran">quran</a>
						<br>
						<br>
						made with <span style="color: #e25555;"><i class="fas fa-heart"></i></span> by muslims for muslims
						<br>
						
						<a target="_blank" href="https://github.com/muslimist">github</a> - 
						<a>privacy</a> - 
						<a onclick="toggledarkmode()">dark mode</a>
					</p>
				</div>
			</footer>


		</div>


	</body>
</html>