---
title: muslimist | quran
description: an ad-free, open source, non-spying collection of tools for muslims
url: https://muslimist.com/quran
---
{% include header %}

<style>

.arabic-Al-QuranAlKareem {
    font-family: "arabic-Al-QuranAlKareem", serif;
}
@font-face {
    font-family: "arabic-Al-QuranAlKareem";
    src: url('/quran/fonts/Al-QuranAlKareem.ttf');
}

.arabic-AlQalamQuran {
    font-family: "arabic-AlQalamQuran", serif;
}
@font-face {
    font-family: "arabic-AlQalamQuran";
    src: url('/quran/fonts/AlQalamQuran.ttf');
}

.arabic-Al_Qalam_Quran {
    font-family: "arabic-Al_Qalam_Quran", serif;
}
@font-face {
    font-family: "arabic-Al_Qalam_Quran";
    src: url('/quran/fonts/Al_Qalam_Quran.ttf');
}

.arabic-Al_Qalam_Quran_Majeed_Web {
    font-family: "arabic-Al_Qalam_Quran_Majeed_Web", serif;
}
@font-face {
    font-family: "arabic-Al_Qalam_Quran_Majeed_Web";
    src: url('/quran/fonts/Al_Qalam_Quran_Majeed_Web.ttf');
}

.arabic-AmiriQuran {
    font-family: "arabic-AmiriQuran", serif;
}
@font-face {
    font-family: "arabic-AmiriQuran";
    src: url('/quran/fonts/AmiriQuran.ttf');
}

.arabic-Basmalah_Ver01 {
    font-family: "arabic-Basmalah_Ver01", serif;
}
@font-face {
    font-family: "arabic-Basmalah_Ver01";
    src: url('/quran/fonts/Basmalah_Ver01.otf');
}

.arabic-KSA2020Extra {
    font-family: "arabic-KSA2020Extra", serif;
}
@font-face {
    font-family: "arabic-KSA2020Extra";
    src: url('/quran/fonts/KSA2020Extra.ttf');
}

.arabic-KSA2020Heading {
    font-family: "arabic-KSA2020Heading", serif;
}
@font-face {
    font-family: "arabic-KSA2020Heading";
    src: url('/quran/fonts/KSA2020Heading.ttf');
}

.arabic-KSA2020Heavy {
    font-family: "arabic-KSA2020Heavy", serif;
}
@font-face {
    font-family: "arabic-KSA2020Heavy";
    src: url('/quran/fonts/KSA2020Heavy.ttf');
}

.arabic-MUHAMMADIBold {
    font-family: "arabic-MUHAMMADIBold", serif;
}
@font-face {
    font-family: "arabic-MUHAMMADIBold";
    src: url('/quran/fonts/MUHAMMADIBold.ttf');
}

.arabic-Scheherazade-Bold {
    font-family: "arabic-Scheherazade-Bold", serif;
}
@font-face {
    font-family: "arabic-Scheherazade-Bold";
    src: url('/quran/fonts/Scheherazade-Bold.ttf');
}

.arabic-Scheherazade-Regular {
    font-family: "arabic-Scheherazade-Regular", serif;
}
@font-face {
    font-family: "arabic-Scheherazade-Regular";
    src: url('/quran/fonts/Scheherazade-Regular.ttf');
}

.arabic-ScheherazadeRegOT {
    font-family: "arabic-ScheherazadeRegOT", serif;
}
@font-face {
    font-family: "arabic-ScheherazadeRegOT";
    src: url('/quran/fonts/ScheherazadeRegOT.ttf');
}

.arabic-UthmanTN1B_Ver10 {
    font-family: "arabic-UthmanTN1B_Ver10", serif;
}
@font-face {
    font-family: "arabic-UthmanTN1B_Ver10";
    src: url('/quran/fonts/UthmanTN1B_Ver10.otf');
}

.arabic-UthmanTN1_Ver10 {
    font-family: "arabic-UthmanTN1_Ver10", serif;
}
@font-face {
    font-family: "arabic-UthmanTN1_Ver10";
    src: url('/quran/fonts/UthmanTN1_Ver10.otf');
}

.arabic-_PDMS_Saleem_QuranFont {
    font-family: "arabic-_PDMS_Saleem_QuranFont", serif;
}
@font-face {
    font-family: "arabic-_PDMS_Saleem_QuranFont";
    src: url('/quran/fonts/_PDMS_Saleem_QuranFont.ttf');
}

.arabic-a-jannat-lt {
    font-family: "arabic-a-jannat-lt", serif;
}
@font-face {
    font-family: "arabic-a-jannat-lt";
    src: url('/quran/fonts/a-jannat-lt.ttf');
}

.arabic-me_quran {
    font-family: "arabic-me_quran", serif;
}
@font-face {
    font-family: "arabic-me_quran";
    src: url('/quran/fonts/me_quran.ttf');
}

.arabic-noorehidayat {
    font-family: "arabic-noorehidayat", serif;
}
@font-face {
    font-family: "arabic-noorehidayat";
    src: url('/quran/fonts/noorehidayat.ttf');
}

.arabic-noorehira {
    font-family: "arabic-noorehira", serif;
}
@font-face {
    font-family: "arabic-noorehira";
    src: url('/quran/fonts/noorehira.ttf');
}



.idghaam_shafawi {
  color: rgba(190, 0, 0, 1);
}

.idghaam_mutajaanisain {
  color: rgba(190, 0, 0, 1);
}

.idghaam_mutaqaaribain {
  color: rgba(190, 0, 0, 1);
}

.idghaam_ghunnah {
  color: rgba(190, 0, 0, 1);
}

.idghaam_no_ghunnah {
  color: rgba(150, 60, 60, 1);
}

.ghunnah {
  color: rgba(0, 180, 0, 1);
}

.qalqalah {
  color: rgba(8, 80, 170, 1);
}

.iqlab {
  color: rgba(140, 50, 170, 1);
}

.ikhfa {
  color: rgba(50, 180, 160, 1);
}

.ikhfa_shafawi {
  color: rgba(50, 180, 160, 1);
}

/* Ikhfa mim saakin */
.madd_6 {
  color: rgba(200, 0, 0, 1);
}

.madd_246 {
  color: rgba(255, 180, 60, 1);
}

.madd_2 {
  color: rgba(50, 180, 160, 1);
}

.madd_muttasil {
  color: rgba(255, 0, 0, 1);
}

.madd_munfasil {
  color: rgba(0, 221, 147, 1);
}

.hamzat_wasl {
  color: rgba(150, 252, 0, 1);
}

.lam_shamsiyyah {
  color: rgba(175, 0, 221, 1);
}

.silent {
  color: rgb(180, 180, 180);
}
</style>


      <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
        <div class="content">
          <h1>quran</h1>
          <p class="major">read and listen till your heart is content</p>
        </div>
        <div class="image">
          <img src="/assets/images/header_quran.webp" alt="" />
        </div>
      </section>


      <section class="wrapper style1 align-center">
        <!-- <div class="inner" style="padding: 2rem 4rem 2rem 4rem;"> -->
        <div class="inner" style="padding: 1rem;">
          <div class="index align-left">

            <section style="padding: 1rem;">
              <header>
                <h3>quran</h3>
              </header>
              <center>
                <div id="qurancontent" class=""></div>
              </center>
            </section>
            

            <section style="padding: 1rem;" id="translationsection">
              <header>
                <h3>translation</h3>
              </header>
              <center>
                <div id="translationcontent" class="content"></div>
              </center>
            </section>
            

            <section style="padding: 1rem;">
              <header>
                <h3>audio</h3>
              </header>
              <div class="content">
                <center>
                  <audio onended="nextAudio()" id="audio" controls autoplay>
                    <source id="audioSource" src=""></source>
                  </audio>
                </center>
              </div>
            </section>

            <section style="padding: 1rem;">
              <header>
                <h3>options</h3>
              </header>
              <div class="content">
                <form method="post" action="#">
                  <div class="fields">


                    <div class="field third">
                      <label for="chapter">Chapter</label>
                      <select name="chapter" id="chapter" onchange="onchangeChapter()">
                        <option value="1">1: Al-Faatiha</option>
                        <option value="2">2: Al-Baqara</option>
                        <option value="3">3: Aal-i-Imraan</option>
                        <option value="4">4: An-Nisaa</option>
                        <option value="5">5: Al-Maaida</option>
                        <option value="6">6: Al-An'aam</option>
                        <option value="7">7: Al-A'raaf</option>
                        <option value="8">8: Al-Anfaal</option>
                        <option value="9">9: At-Tawba</option>
                        <option value="10">10: Yunus</option>
                        <option value="11">11: Hud</option>
                        <option value="12">12: Yusuf</option>
                        <option value="13">13: Ar-Ra'd</option>
                        <option value="14">14: Ibrahim</option>
                        <option value="15">15: Al-Hijr</option>
                        <option value="16">16: An-Nahl</option>
                        <option value="17">17: Al-Israa</option>
                        <option value="18">18: Al-Kahf</option>
                        <option value="19">19: Maryam</option>
                        <option value="20">20: Taa-Haa</option>
                        <option value="21">21: Al-Anbiyaa</option>
                        <option value="22">22: Al-Hajj</option>
                        <option value="23">23: Al-Muminoon</option>
                        <option value="24">24: An-Noor</option>
                        <option value="25">25: Al-Furqaan</option>
                        <option value="26">26: Ash-Shu'araa</option>
                        <option value="27">27: An-Naml</option>
                        <option value="28">28: Al-Qasas</option>
                        <option value="29">29: Al-Ankaboot</option>
                        <option value="30">30: Ar-Room</option>
                        <option value="31">31: Luqman</option>
                        <option value="32">32: As-Sajda</option>
                        <option value="33">33: Al-Ahzaab</option>
                        <option value="34">34: Saba</option>
                        <option value="35">35: Faatir</option>
                        <option value="36">36: Yaseen</option>
                        <option value="37">37: As-Saaffaat</option>
                        <option value="38">38: Saad</option>
                        <option value="39">39: Az-Zumar</option>
                        <option value="40">40: Al-Ghaafir</option>
                        <option value="41">41: Fussilat</option>
                        <option value="42">42: Ash-Shura</option>
                        <option value="43">43: Az-Zukhruf</option>
                        <option value="44">44: Ad-Dukhaan</option>
                        <option value="45">45: Al-Jaathiya</option>
                        <option value="46">46: Al-Ahqaf</option>
                        <option value="47">47: Muhammad</option>
                        <option value="48">48: Al-Fath</option>
                        <option value="49">49: Al-Hujuraat</option>
                        <option value="50">50: Qaaf</option>
                        <option value="51">51: Adh-Dhaariyat</option>
                        <option value="52">52: At-Tur</option>
                        <option value="53">53: An-Najm</option>
                        <option value="54">54: Al-Qamar</option>
                        <option value="55">55: Ar-Rahmaan</option>
                        <option value="56">56: Al-Waaqia</option>
                        <option value="57">57: Al-Hadid</option>
                        <option value="58">58: Al-Mujaadila</option>
                        <option value="59">59: Al-Hashr</option>
                        <option value="60">60: Al-Mumtahana</option>
                        <option value="61">61: As-Saff</option>
                        <option value="62">62: Al-Jumu'a</option>
                        <option value="63">63: Al-Munaafiqoon</option>
                        <option value="64">64: At-Taghaabun</option>
                        <option value="65">65: At-Talaaq</option>
                        <option value="66">66: At-Tahrim</option>
                        <option value="67">67: Al-Mulk</option>
                        <option value="68">68: Al-Qalam</option>
                        <option value="69">69: Al-Haaqqa</option>
                        <option value="70">70: Al-Ma'aarij</option>
                        <option value="71">71: Nooh</option>
                        <option value="72">72: Al-Jinn</option>
                        <option value="73">73: Al-Muzzammil</option>
                        <option value="74">74: Al-Muddaththir</option>
                        <option value="75">75: Al-Qiyaama</option>
                        <option value="76">76: Al-Insaan</option>
                        <option value="77">77: Al-Mursalaat</option>
                        <option value="78">78: An-Naba</option>
                        <option value="79">79: An-Naazi'aat</option>
                        <option value="80">80: Abasa</option>
                        <option value="81">81: At-Takwir</option>
                        <option value="82">82: Al-Infitaar</option>
                        <option value="83">83: Al-Mutaffifin</option>
                        <option value="84">84: Al-Inshiqaaq</option>
                        <option value="85">85: Al-Burooj</option>
                        <option value="86">86: At-Taariq</option>
                        <option value="87">87: Al-A'laa</option>
                        <option value="88">88: Al-Ghaashiya</option>
                        <option value="89">89: Al-Fajr</option>
                        <option value="90">90: Al-Balad</option>
                        <option value="91">91: Ash-Shams</option>
                        <option value="92">92: Al-Lail</option>
                        <option value="93">93: Ad-Dhuhaa</option>
                        <option value="94">94: Ash-Sharh</option>
                        <option value="95">95: At-Tin</option>
                        <option value="96">96: Al-Alaq</option>
                        <option value="97">97: Al-Qadr</option>
                        <option value="98">98: Al-Bayyina</option>
                        <option value="99">99: Az-Zalzala</option>
                        <option value="100">100: Al-Aadiyaat</option>
                        <option value="101">101: Al-Qaari'a</option>
                        <option value="102">102: At-Takaathur</option>
                        <option value="103">103: Al-Asr</option>
                        <option value="104">104: Al-Humaza</option>
                        <option value="105">105: Al-Fil</option>
                        <option value="106">106: Quraish</option>
                        <option value="107">107: Al-Maa'un</option>
                        <option value="108">108: Al-Kawthar</option>
                        <option value="109">109: Al-Kaafiroon</option>
                        <option value="110">110: An-Nasr</option>
                        <option value="111">111: Al-Masad</option>
                        <option value="112">112: Al-Ikhlaas</option>
                        <option value="113">113: Al-Falaq</option>
                        <option value="114">114: An-Naas</option>
                      </select>
                    </div>
                    <div class="field third">
                      <label for="verse">Verse</label>
                      <select name="verse" id="verse" onchange="onchangeVerse()">
                      </select>
                    </div>
                    <div class="field third">
                      <label for="verseloop" id="verselooplabel">Verse Loop</label>
                      <select name="verseloop" id="verseloop" onchange="onchangeVerseLoop()">
                      </select>
                    </div>
                    <div class="field third">
                      <label for="reciter">Reciter</label>
                      <select name="reciter" id="reciter" onchange="onchangeReciter()">
                        <option value="Abdul_Basit_Murattal_192kbps">Abdul Basit (Murattal) - 192kbps</option>
                        <option value="Abdul_Basit_Murattal_64kbps">Abdul Basit (Murattal) - 64kbps</option>
                        <option value="Abdul_Basit_Mujawwad_128kbps">Abdul Basit (Mujawwad) - 128kbps</option>
                        <option value="AbdulSamad_64kbps_QuranExplorer.Com">Abdul Basit (Mujawwad) - 64kbps</option>
                        <option value="Abdullaah_3awwaad_Al-Juhaynee_128kbps">Abdullah Awad Al Juhany - 128kbps</option>
                        <option value="Abdullah_Basfar_192kbps">Abdullah Basfar - 192kbps</option>
                        <option value="Abdullah_Basfar_64kbps">Abdullah Basfar - 64kbps</option>
                        <option value="Abdullah_Basfar_32kbps">Abdullah Basfar - 32kbps</option>
                        <option value="Abdullah_Matroud_128kbps">Abdullah Matroud - 128kbps</option>
                        <option value="Abdurrahmaan_As-Sudais_192kbps">Abdurrahmaan As-Sudais - 192kbps</option>
                        <option value="Abdurrahmaan_As-Sudais_64kbps">Abdurrahmaan As-Sudais - 64kbps</option>
                        <option value="Abu_Bakr_Ash-Shaatree_128kbps">Abu Bakr Ash-Shaatree - 128kbps</option>
                        <option value="Abu_Bakr_Ash-Shaatree_64kbps">Abu Bakr Ash-Shaatree - 64kbps</option>
                        <option value="Ahmed_Neana_128kbps">Ahmed Neana - 128kbps</option>
                        <option value="ahmed_ibn_ali_al_ajamy_128kbps">Ahmed Ibn Ali Al-Ajamy - 128kbps</option>
                        <option value="Ahmed_ibn_Ali_al-Ajamy_128kbps_ketaballah.net">Ahmed Ibn Ali Al-Ajamy - 128kbps</option>
                        <option value="Ahmed_ibn_Ali_al-Ajamy_64kbps_QuranExplorer.Com">Ahmed Ibn Ali Al-Ajamy - 64kbps</option>
                        <option value="Akram_AlAlaqimy_128kbps">Akram Al Alaqimy - 128kbps</option>
                        <option value="Alafasy_128kbps">Alafasy - 128kbps</option>
                        <option value="Alafasy_64kbps">Alafasy - 64kbps</option>
                        <option value="Ali_Hajjaj_AlSuesy_128kbps">Ali Hajjaj AlSuesy - 128kbps</option>
                        <option value="Ali_Jaber_64kbps">Ali Jaber - 64kbps</option>
                        <option value="Ayman_Sowaid_64kbps">Ayman Sowaid - 64kbps</option>
                        <option value="aziz_alili_128kbps">Aziz Alili - 128kbps</option>
                        <option value="Fares_Abbad_64kbps">Fares Abbad - 64kbps</option>
                        <option value="Ghamadi_40kbps">Ghamadi - 40kbps</option>
                        <option value="Hani_Rifai_192kbps">Hani Rifai - 192kbps</option>
                        <option value="Hani_Rifai_64kbps">Hani Rifai - 64kbps</option>
                        <option value="Hudhaify_128kbps">Hudhaify - 128kbps</option>
                        <option value="Hudhaify_64kbps">Hudhaify - 64kbps</option>
                        <option value="Hudhaify_32kbps">Hudhaify - 32kbps</option>
                        <option value="Husary_128kbps">Husary (Murattal) - 128kbps</option>
                        <option value="Husary_64kbps">Husary (Murattal) - 64kbps</option>
                        <option value="Husary_128kbps_Mujawwad">Husary (Mujawwad) - 128kbps</option>
                        <option value="Husary_Mujawwad_64kbps">Husary (Mujawwad) - 64kbps</option>
                        <option value="Husary_Muallim_128kbps">Husary (Muallim) - 128kbps</option>
                        <option value="Ibrahim_Akhdar_32kbps">Ibrahim Akhdar - 32kbps</option>
                        <option value="warsh/warsh_ibrahim_aldosary_128kbps">Ibrahim Aldosary (Warsh) - 128kbps</option>
                        <option value="Karim_Mansoori_40kbps">Karim Mansoori - 40kbps</option>
                        <option value="Khaalid_Abdullaah_al-Qahtaanee_192kbps">Khaalid Abdullaah Al-Qahtaanee - 192kbps</option>
                        <option value="khalefa_al_tunaiji_64kbps">Khalefa Al Tunaiji - 64kbps</option>
                        <option value="MaherAlMuaiqly128kbps">Maher Al Muaiqly - 128kbps</option>
                        <option value="Maher_AlMuaiqly_64kbps">Maher Al Muaiqly - 64kbps</option>
                        <option value="mahmoud_ali_al_banna_32kbps">Mahmoud Ali Al Banna - 32kbps</option>
                        <option value="Minshawy_Murattal_128kbps">Minshawi (Murattal) - 128kbps</option>
                        <option value="Menshawi_16kbps">Minshawi (Murattal) - 16kbps</option>
                        <option value="Minshawy_Mujawwad_192kbps">Minshawi (Mujawwad) - 192kbps</option>
                        <option value="Minshawy_Mujawwad_64kbps">Minshawi (Mujawwad) - 64kbps</option>
                        <option value="Mohammad_al_Tablaway_128kbps">Mohammad Al Tablaway - 128kbps</option>
                        <option value="Mohammad_al_Tablaway_64kbps">Mohammad Al Tablaway - 64kbps</option>
                        <option value="Muhammad_AbdulKareem_128kbps">Muhammad AbdulKareem - 128kbps</option>
                        <option value="Muhammad_Ayyoub_128kbps">Muhammad Ayyoub - 128kbps</option>
                        <option value="Muhammad_Ayyoub_64kbps">Muhammad Ayyoub - 64kbps</option>
                        <option value="Muhammad_Ayyoub_32kbps">Muhammad Ayyoub - 32kbps</option>
                        <option value="Muhammad_Jibreel_128kbps">Muhammad Jibreel - 128kbps</option>
                        <option value="Muhammad_Jibreel_64kbps">Muhammad Jibreel - 64kbps</option>
                        <option value="Muhsin_Al_Qasim_192kbps">Muhsin Al Qasim - 192kbps</option>
                        <option value="Nasser_Alqatami_128kbps">Nasser Alqatami - 128kbps</option>
                        <option value="Parhizgar_48kbps">Parhizgar - 48kbps</option>
                        <option value="Sahl_Yassin_128kbps">Sahl Yassin - 128kbps</option>
                        <option value="Salaah_AbdulRahman_Bukhatir_128kbps">Salaah AbdulRahman Bukhatir - 128kbps</option>
                        <option value="Salah_Al_Budair_128kbps">Salah Al Budair - 128kbps</option>
                        <option value="Saood_ash-Shuraym_128kbps">Saood Ash-Shuraym - 128kbps</option>
                        <option value="Saood_ash-Shuraym_64kbps">Saood Ash-Shuraym - 64kbps</option>
                        <option value="Yaser_Salamah_128kbps">Yaser Salamah - 128kbps</option>
                        <option value="Yasser_Ad-Dussary_128kbps">Yasser Ad-Dussary - 128kbps</option>
                        <option value="warsh/warsh_yassin_al_jazaery_64kbps">Yassin Al Jazaery (Warsh) - 64kbps</option>
                        <option disabled> -- OTHER LANGUAGES --</option>
                        <option value="translations/azerbaijani/balayev">Azerbaijani - Azerbaijani Balayev</option>
                        <option value="translations/besim_korkut_ajet_po_ajet">Bosnian - Besim Korkut Ajet Po Ajet</option>
                        <option value="English/Sahih_Intnl_Ibrahim_Walk_192kbps">English - Ibrahim Walk - 192kbps</option>
                        <option value="MultiLanguage/Basfar_Walk_192kbps">English - Ibrahim Walk With Arabic - 192kbps</option>
                        <option value="translations/Fooladvand_Hedayatfar_40Kbps">Persian - Fooladvand Hedayatfar - 40Kbps</option>
                        <option value="translations/Makarem_Kabiri_16Kbps">Persian - Makarem Kabiri - 16Kbps</option>
                        <option value="translations/urdu_farhat_hashmi">Urdu - Farhat Hashmi</option>
                        <option value="translations/urdu_shamshad_ali_khan_46kbps">Urdu - Shamshad Ali Khan 46kbps</option>
                      </select>
                    </div>
                    <div class="field third">
                      <label for="quranspeed">Playback Speed</label>
                      <select name="quranspeed" id="quranspeed" onchange="onchangeQuranSpeed()">
                        <option value="0.4">Slowest</option>
                        <option value="0.6">Slower</option>
                        <option value="0.8">Slow</option>
                        <option value="1">Normal</option>
                        <option value="1.2">Fast</option>
                        <option value="1.4">Faster</option>
                        <option value="1.6">Fastest</option>
                      </select>
                    </div>
                    <div class="field third">
                      <label for="quranrepeat" id="quranrepeatlabel">Ayah Repeat</label>
                      <select name="quranrepeat" id="quranrepeat" onchange="onchangeQuranRepeat()">
                        <option value="1">1 Time</option>
                        <option value="2">2 Times</option>
                        <option value="3">3 Times</option>
                      </select>
                    </div>
                    <div class="field half">
                      <label for="translation">Translation</label>
                      <select name="translation" id="translation" onchange="onchangeTranslation()">
                        <option value="none">None</option>
                        <option value="sq.nahi">Albanian - Hasan Efendi Nahi</option>
                        <option value="sq.mehdiu">Albanian - Feti Mehdiu</option>
                        <option value="sq.ahmeti">Albanian - Sherif Ahmeti</option>
                        <option value="ber.mensur">Amazigh - Ramdane At Mansour</option>
                        <option value="ar.jalalayn">Arabic - Jalal ad-Din al-Mahalli and Jalal ad-Din as-Suyuti</option>
                        <option value="ar.muyassar">Arabic - King Fahad Quran Complex</option>
                        <option value="am.sadiq">Amharic - Muhammed Sadiq and Muhammed Sani Habib</option>
                        <option value="az.mammadaliyev">Azerbaijani - Vasim Mammadaliyev and Ziya Bunyadov</option>
                        <option value="az.musayev">Azerbaijani - Alikhan Musayev</option>
                        <option value="bn.hoque">Bengali - Zohurul Hoque</option>
                        <option value="bn.bengali">Bengali - Muhiuddin Khan</option>
                        <option value="bs.korkut">Bosnian - Besim Korkut</option>
                        <option value="bs.mlivo">Bosnian - Mustafa Mlivo</option>
                        <option value="bg.theophanov">Bulgarian - Tzvetan Theophanov</option>
                        <option value="zh.jian">Chinese - Ma Jian</option>
                        <option value="zh.majian">Chinese - Ma Jian (Traditional)</option>
                        <option value="cs.hrbek">Czech - Preklad I. Hrbek</option>
                        <option value="cs.nykl">Czech - A. R. Nykl</option>
                        <option value="dv.divehi">Divehi - Office of the President of Maldives</option>
                        <option value="nl.keyzer">Dutch - Salomo Keyzer</option>
                        <option value="nl.leemhuis">Dutch - Fred Leemhuis</option>
                        <option value="nl.siregar">Dutch - Sofian S. Siregar</option>
                        <option value="en.ahmedali">English - Ahmed Ali</option>
                        <option value="en.ahmedraza">English - Ahmed Raza Khan</option>
                        <option value="en.arberry">English - A. J. Arberry</option>
                        <option value="en.daryabadi">English - Abdul Majid Daryabadi</option>
                        <option value="en.hilali">English - Muhammad Taqi-ud-Din al-Hilali and Muhammad Muhsin Khan</option>
                        <option value="en.itani">English - Talal Itani</option>
                        <option value="en.maududi">English - Abul Ala Maududi</option>
                        <option value="en.mubarakpuri">English - Safi-ur-Rahman al-Mubarakpuri</option>
                        <option value="en.pickthall">English - Mohammed Marmaduke William Pickthall</option>
                        <option value="en.qarai">English - Ali Quli Qarai</option>
                        <option value="en.qaribullah">English - Hasan al-Fatih Qaribullah and Ahmad Darwish</option>
                        <option value="en.sahih">English - Saheeh International</option>
                        <option value="en.sarwar">English - Muhammad Sarwar</option>
                        <option value="en.shakir">English - Mohammad Habib Shakir</option>
                        <option value="en.transliteration">English - English Transliteration</option>
                        <option value="en.wahiduddin">English - Wahiduddin Khan</option>
                        <option value="en.yusufali">English - Abdullah Yusuf Ali</option>
                        <option value="fr.hamidullah">French - Muhammad Hamidullah</option>
                        <option value="de.aburida">German - Abu Rida Muhammad ibn Ahmad ibn Rassoul</option>
                        <option value="de.bubenheim">German - A. S. F. Bubenheim and N. Elyas</option>
                        <option value="de.khoury">German - Adel Theodor Khoury</option>
                        <option value="de.zaidan">German - Amir Zaidan</option>
                        <option value="ha.gumi">Hausa - Abubakar Mahmoud Gumi</option>
                        <option value="hi.farooq">Hindi - Muhammad Farooq Khan and Muhammad Ahmed</option>
                        <option value="hi.hindi">Hindi - Suhel Farooq Khan and Saifur Rahman Nadwi</option>
                        <option value="id.indonesian">Indonesian - Indonesian Ministry of Religious Affairs</option>
                        <option value="id.jalalayn">Indonesian - Muhammad Quraish Shihab et al.</option>
                        <option value="id.muntakhab">Indonesian - Jalal ad-Din al-Mahalli and Jalal ad-Din as-Suyuti</option>
                        <option value="it.piccardo">Italian - Hamza Roberto Piccardo</option>
                        <option value="ja.japanese">Japanese - Unknown</option>
                        <option value="ko.korean">Korean - Unknown</option>
                        <option value="ku.asan">Kurdish - Burhan Muhammad-Amin</option>
                        <option value="ms.basmeih">Malay - Abdullah Muhammad Basmeih</option>
                        <option value="ml.abdulhameed">Malayalam - Cheriyamundam Abdul Hameed and Kunhi Mohammed Parappoor</option>
                        <option value="ml.karakunnu">Malayalam - Muhammad Karakunnu and Vanidas Elayavoor</option>
                        <option value="no.berg">Norwegian - Einar Berg</option>
                        <option value="ps.abdulwali">Pashto - Abdulwali Khan</option>
                        <option value="fa.ansarian">Persian - Hussain Ansarian</option>
                        <option value="fa.ayati">Persian - AbdolMohammad Ayati</option>
                        <option value="fa.bahrampour">Persian - Abolfazl Bahrampour</option>
                        <option value="fa.gharaati">Persian - Mohsen Gharaati</option>
                        <option value="fa.ghomshei">Persian - Mahdi Elahi Ghomshei</option>
                        <option value="fa.khorramdel">Persian - Mostafa Khorramdel</option>
                        <option value="fa.khorramshahi">Persian - Baha'oddin Khorramshahi</option>
                        <option value="fa.sadeqi">Persian - Mohammad Sadeqi Tehrani</option>
                        <option value="fa.fooladvand">Persian - Mohammad Mahdi Fooladvand</option>
                        <option value="fa.mojtabavi">Persian - Sayyed Jalaloddin Mojtabavi</option>
                        <option value="fa.moezzi">Persian - Mohammad Kazem Moezzi</option>
                        <option value="fa.makarem">Persian - Naser Makarem Shirazi</option>
                        <option value="pl.bielawskiego">Polish - Józefa Bielawskiego</option>
                        <option value="pt.elhayek">Portuguese - Samir El-Hayek</option>
                        <option value="ro.grigore">Romanian - George Grigore</option>
                        <option value="ru.abuadel">Russian - Abu Adel</option>
                        <option value="ru.muntahab">Russian - Ministry of Awqaf, Egypt</option>
                        <option value="ru.krachkovsky">Russian - Ignaty Yulianovich Krachkovsky</option>
                        <option value="ru.kuliev">Russian - Elmir Kuliev</option>
                        <option value="ru.kuliev-alsaadi">Russian - Elmir Kuliev (with Abd ar-Rahman as-Saadi's commentaries)</option>
                        <option value="ru.osmanov">Russian - Magomed-Nuri Osmanovich Osmanov</option>
                        <option value="ru.porokhova">Russian - V. Porokhova</option>
                        <option value="ru.sablukov">Russian - Gordy Semyonovich Sablukov</option>
                        <option value="sd.amroti">Sindhi - Taj Mehmood Amroti</option>
                        <option value="so.abduh">Somali - Mahmud Muhammad Abduh</option>
                        <option value="es.bornez">Spanish - Raúl González Bórnez</option>
                        <option value="es.cortes">Spanish - Julio Cortes</option>
                        <option value="es.garcia">Spanish - Muhammad Isa García</option>
                        <option value="sw.barwani">Swahili - Ali Muhsin Al-Barwani</option>
                        <option value="sv.bernstrom">Swedish - Knut Bernström</option>
                        <option value="tg.ayati">Tajik - AbdolMohammad Ayati</option>
                        <option value="ta.tamil">Tamil - Jan Turst Foundation</option>
                        <option value="tt.nugman">Tatar - Yakub Ibn Nugman</option>
                        <option value="th.thai">Thai - King Fahad Quran Complex</option>
                        <option value="tr.golpinarli">Turkish - Abdulbaki Golpinarli</option>
                        <option value="tr.bulac">Turkish - Alİ Bulaç</option>
                        <option value="tr.transliteration">Turkish - Muhammet Abay</option>
                        <option value="tr.diyanet">Turkish - Diyanet Isleri</option>
                        <option value="tr.vakfi">Turkish - Diyanet Vakfi</option>
                        <option value="tr.yuksel">Turkish - Edip Yüksel</option>
                        <option value="tr.yazir">Turkish - Elmalili Hamdi Yazir</option>
                        <option value="tr.ozturk">Turkish - Yasar Nuri Ozturk</option>
                        <option value="tr.yildirim">Turkish - Suat Yildirim</option>
                        <option value="tr.ates">Turkish - Suleyman Ates</option>
                        <option value="ur.maududi">Urdu - Abul A'ala Maududi</option>
                        <option value="ur.kanzuliman">Urdu - Ahmed Raza Khan</option>
                        <option value="ur.ahmedali">Urdu - Ahmed Ali</option>
                        <option value="ur.jalandhry">Urdu - Fateh Muhammad Jalandhry</option>
                        <option value="ur.qadri">Urdu - Tahir ul Qadri</option>
                        <option value="ur.jawadi">Urdu - Syed Zeeshan Haider Jawadi</option>
                        <option value="ur.junagarhi">Urdu - Muhammad Junagarhi</option>
                        <option value="ur.najafi">Urdu - Muhammad Hussain Najafi</option>
                        <option value="ug.saleh">Uyghur - Muhammad Saleh</option>
                        <option value="uz.sodik">Uzbek - Muhammad Sodik Muhammad Yusuf</option>
                      </select>
                    </div>
                    <div class="field half">
                      <label for="translationsize">Translation Size</label>
                      <select name="translationsize" id="translationsize" onchange="onchangeTranslationSize()">
                        <option value="1">Tiny</option>
                        <option value="1.5">Small</option>
                        <option value="2">Medium</option>
                        <option value="2.5">Large</option>
                        <option value="3">Huge</option>
                      </select>
                    </div>
                    <div class="field third">
                      <label for="script">Quran Script</label>
                      <select name="script" id="script" onchange="onchangeScript()">
                        <option value="quran-uthmani">Uthmani</option>
                        <option value="quran-uthmani-tajweed">Uthmani Tajweed</option>
                        <option value="quran-uthmani-min">Uthmani Minimal</option>
                        <option value="quran-simple">Simple</option>
                        <option value="quran-simple-enhanced">Simple Enhanced</option>
                        <option value="quran-simple-min">Simple Minimal</option>
                        <option value="quran-simple-clean">Simple Clean</option>
                      </select>
                    </div>
                    <div class="field third">
                      <label for="quranfont">Quran Font</label>
                      <select name="quranfont" id="quranfont" onchange="onchangeQuranFont()">
                        <option value="browserdefault">Browser Default</option>
                        <option value="Al-QuranAlKareem">Al-QuranAlKareem</option>
                        <option value="AlQalamQuran">AlQalamQuran</option>
                        <option value="Al_Qalam_Quran">Al_Qalam_Quran</option>
                        <option value="Al_Qalam_Quran_Majeed_Web">Al_Qalam_Quran_Majeed_Web</option>
                        <option value="AmiriQuran">AmiriQuran</option>
                        <option value="KSA2020Extra">KSA2020Extra</option>
                        <option value="KSA2020Heading">KSA2020Heading</option>
                        <option value="KSA2020Heavy">KSA2020Heavy</option>
                        <option value="MUHAMMADIBold">MUHAMMADIBold</option>
                        <option value="Scheherazade-Bold">Scheherazade-Bold</option>
                        <option value="Scheherazade-Regular">Scheherazade-Regular</option>
                        <option value="ScheherazadeRegOT">ScheherazadeRegOT</option>
                        <option value="UthmanTN1B_Ver10">UthmanTN1B_Ver10</option>
                        <option value="UthmanTN1_Ver10">UthmanTN1_Ver10</option>
                        <option value="_PDMS_Saleem_QuranFont">_PDMS_Saleem_QuranFont</option>
                        <option value="a-jannat-lt">a-jannat-lt</option>
                        <option value="me_quran">me_quran</option>
                        <option value="noorehidayat">noorehidayat</option>
                        <option value="noorehira">noorehira</option>
                      </select>
                    </div>
                    <div class="field third">
                      <label for="quransize">Quran Size</label>
                      <select name="quransize" id="quransize" onchange="onchangeQuranSize()">
                        <option value="1">Tiny</option>
                        <option value="1.5">Small</option>
                        <option value="2">Medium</option>
                        <option value="2.5">Large</option>
                        <option value="3">Huge</option>
                      </select>
                    </div>
                    <br><br><br>
                    <div class="field">
                        <label for="reset">Reset to default settings</label>
                        <ul class="actions" style="margin: 0 0 0 0;">
                            <li><a name="reset" id="reset" class="button" onclick="reset()">Reset</a></li>
                        </ul>
                    </div>
                    


                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </section>




    <script src="/assets/js/app.min.js"></script>
    <script type="text/javascript">

    // variables

    const NUMBER_OF_VERSES = [7,286,200,176,120,165,206,75,129,109,123,111,43,52,99,128,111,110,98,135,112,78,118,64,77,227,93,88,69,60,34,30,73,54,45,83,182,88,75,85,54,53,89,59,37,35,38,29,18,45,60,49,62,55,78,96,29,22,24,13,14,11,11,18,12,12,30,52,52,44,28,28,20,56,40,31,50,40,46,42,29,19,36,25,22,17,19,26,30,20,15,21,11,8,8,19,5,8,8,11,11,8,3,9,5,4,7,3,6,3,5,4,5,6];

    const NUMBER_OF_CHAPTERS = 114;

    const DEFAULT_CHAPTER = 1;
    const DEFAULT_VERSE = 1;
    const DEFAULT_RECITER = 'Alafasy_64kbps';
    const DEFAULT_TRANSLATION = 'en.pickthall';
    const DEFAULT_SCRIPT = 'quran-uthmani-tajweed';
    const DEFAULT_QURANFONT = 'me_quran';
    const DEFAULT_QURANSIZE = 2.0;
    const DEFAULT_QURANSPEED = 1;
    const DEFAULT_QURANREPEAT = 1;
    const DEFAULT_VERSELOOPA = 0;
    const DEFAULT_VERSELOOPB = 0;
    const DEFAULT_TRANSLATIONSIZE = 1.5;



    // functions

    function $(id) {
      return document.getElementById(id);
    }

    function threeDigits(num) {
      var temp = '000'+ num;
      return temp.substr(temp.length-3);
    }

    function updateVerse(chapter) {
        $('verse').options.length = 0;
        for (var i = 1; i<=NUMBER_OF_VERSES[chapter-1]; i++) {
            var opt = document.createElement('option');
            opt.value = i;
            opt.innerHTML = i;
            $('verse').appendChild(opt);
        }
    }

    function updateVerseLoop() {
        $('verseloop').options.length = 0;
        var opt = document.createElement('option');
        opt.value = 0;
        opt.innerHTML = "Disabled";
        $('verseloop').appendChild(opt);
        for (var i = localStorage.getItem("quran_verse"); i<=NUMBER_OF_VERSES[parseInt(localStorage.getItem("quran_chapter"))-1]; i++) {
            var opt = document.createElement('option');
            opt.value = i;
            opt.innerHTML = i;
            $('verseloop').appendChild(opt);
        }
        selectVerseLoop(localStorage.getItem("quran_verseloopb"));

        if (localStorage.getItem("quran_verseloopa") != 0) {
            document.getElementById("verselooplabel").innerHTML = "Verse Loop (" + localStorage.getItem("quran_verseloopa") + "-" + localStorage.getItem("quran_verseloopb") + ")";
        } else {
            document.getElementById("verselooplabel").innerHTML = "Verse Loop";
        }
    }

    function updateQuranContent() {
        if (localStorage.getItem("quran_script") == "quran-uthmani-tajweed") {
            fetch('/quran/data/quran-uthmani-tajweed-'+threeDigits(localStorage.getItem("quran_chapter"))+'.json')
              .then(response => response.json())
              .then(quran => tajweeds(quran[localStorage.getItem("quran_verse")-1].annotations));
        } else {
            fetch('/quran/data/'+localStorage.getItem("quran_script")+'.json')
              .then(response => response.json())
              .then(quran => $("qurancontent").innerHTML = "<h2 style='line-height: 2; letter-spacing: 0; font-size: unset;'>"+quran[localStorage.getItem("quran_chapter")-1].aya[localStorage.getItem("quran_verse")-1].text)+"</h2>";
        }
    }

    function updateTranslationContent() {
        if (localStorage.getItem("quran_translation") == "none") {
            $("translationsection").style.display = "none";
        } else {
            fetch('/quran/data/'+localStorage.getItem("quran_translation")+'.json')
              .then(response => response.json())
              .then(translation => $("translationcontent").innerHTML = translation.quran.sura[localStorage.getItem("quran_chapter")-1].aya[localStorage.getItem("quran_verse")-1]._text);
            $("translationsection").style.display = "flex";
        }
    }

    function updateQuranFont() {
        $("qurancontent").className = 'arabic-' + localStorage.getItem("quran_quranfont");
    }

    function updateQuranSize() {
        $("qurancontent").style.fontSize = localStorage.getItem("quran_quransize") + "em";
    }

    function updateQuranSpeed() {
        document.getElementById("audio").defaultPlaybackRate = localStorage.getItem("quran_quranspeed");
        document.getElementById("audio").playbackRate = localStorage.getItem("quran_quranspeed");
    }

    function updateQuranRepeat() {
        localStorage.setItem("quran_quranrepeatcurrent", localStorage.getItem("quran_quranrepeat"));
        if (localStorage.getItem("quran_quranrepeat") != 1) {
            document.getElementById("quranrepeatlabel").innerHTML = "Ayah Repeat (" + (localStorage.getItem("quran_quranrepeat")-localStorage.getItem("quran_quranrepeatcurrent")+1) + "/" + localStorage.getItem("quran_quranrepeat") + ")";
        } else {
            document.getElementById("quranrepeatlabel").innerHTML = "Ayah Repeat";
        }
    }

    function updateTranslationSize() {
        $("translationcontent").style.fontSize = localStorage.getItem("quran_translationsize") + "em";
    }

    function updateAudio() {
        if (localStorage.getItem("quran_quranrepeat") != 1) {
            document.getElementById("quranrepeatlabel").innerHTML = "Ayah Repeat (" + (localStorage.getItem("quran_quranrepeat")-localStorage.getItem("quran_quranrepeatcurrent")+1) + "/" + localStorage.getItem("quran_quranrepeat") + ")";
        }

        var audio = $('audio');
        var source = $('audioSource');
        source.src = "https://www.everyayah.com/data/" + localStorage.getItem("quran_reciter") + "/" + threeDigits(localStorage.getItem("quran_chapter")) + threeDigits(localStorage.getItem("quran_verse")) + ".mp3";
        audio.load();

        var promise = audio.play();

        if (promise !== undefined) {
            promise.catch(error => {
                console.log('autoplay error: ' + error);
            });
        }
    }

    function nextAudio() {

        if (localStorage.getItem("quran_quranrepeatcurrent") == 1) {

            localStorage.setItem("quran_quranrepeatcurrent", localStorage.getItem("quran_quranrepeat"));

            if (localStorage.getItem("quran_verseloopb") == localStorage.getItem("quran_verse")) {
                nextverse = parseInt(localStorage.getItem("quran_verseloopa"));
            } else {
                nextverse = parseInt(localStorage.getItem("quran_verse")) + 1;
            }
            thischapter = parseInt(localStorage.getItem("quran_chapter"));

            if (nextverse > NUMBER_OF_VERSES[thischapter-1]) {
                nextchapter = thischapter + 1;
                if (nextchapter > NUMBER_OF_CHAPTERS) {
                    // chapter 1
                    localStorage.setItem("quran_chapter", DEFAULT_CHAPTER);
                    selectChapter(DEFAULT_CHAPTER);
                    updateVerse(DEFAULT_CHAPTER);
                } else {
                    // next chapter
                    localStorage.setItem("quran_chapter", nextchapter);
                    selectChapter(nextchapter);
                    updateVerse(nextchapter);
                }
                localStorage.setItem("quran_verse", DEFAULT_VERSE);
                selectVerse(DEFAULT_VERSE);
            } else {
                // next verse
                localStorage.setItem("quran_verse", nextverse);
                selectVerse(nextverse);
            }

            updateAudio();
            preloadAudio();
            updateQuranContent();
            updateTranslationContent();

        } else {
            localStorage.setItem("quran_quranrepeatcurrent", localStorage.getItem("quran_quranrepeatcurrent") - 1);
            document.getElementById("audio").play();
        }

        if (localStorage.getItem("quran_quranrepeat") != 1) {
            document.getElementById("quranrepeatlabel").innerHTML = "Ayah Repeat (" + (localStorage.getItem("quran_quranrepeat")-localStorage.getItem("quran_quranrepeatcurrent")+1) + "/" + localStorage.getItem("quran_quranrepeat") + ")";
        }

        updateVerseLoop();

    }


    function preloadAudio() {
        nextverse = parseInt(localStorage.getItem("quran_verse")) + 1;
        thischapter = parseInt(localStorage.getItem("quran_chapter"));
        nextchapter = parseInt(localStorage.getItem("quran_chapter"));

        if (nextverse > NUMBER_OF_VERSES[thischapter-1]) {
            nextchapter = thischapter + 1;
            if (nextchapter > NUMBER_OF_CHAPTERS) {
                nextchapter = DEFAULT_CHAPTER;
            }
            nextverse = DEFAULT_VERSE;
        }

        url = 'https://www.everyayah.com/data/' + localStorage.getItem("quran_reciter") + '/' + threeDigits(nextchapter) + threeDigits(nextverse) + '.mp3';

        //console.log('next media request (preload not working): ' + url);

    }


    function reset() {
        localStorage.removeItem("quran_verse");
        localStorage.removeItem("quran_chapter");
        localStorage.removeItem("quran_reciter");
        localStorage.removeItem("quran_translation");
        localStorage.removeItem("quran_script");
        localStorage.removeItem("quran_quranfont");
        localStorage.removeItem("quran_quransize");
        localStorage.removeItem("quran_quranspeed");
        localStorage.removeItem("quran_quranrepeat");
        localStorage.removeItem("quran_verseloopa");
        localStorage.removeItem("quran_verseloopb");
        localStorage.removeItem("quran_translationsize");
        location.reload();
    }


    function selectVerse(verse) {
        $('verse').value = verse;
    }

    function selectVerseLoop(verseloop) {
        $('verseloop').value = verseloop;
    }

    function selectChapter(chapter) {
        $('chapter').value = chapter;
    }

    function selectReciter(reciter) {
        $('reciter').value = reciter;
    }

    function selectTranslation(translation) {
        $('translation').value = translation;
    }

    function selectScript(script) {
        $('script').value = script;
    }

    function selectQuranFont(quranfont) {
        $('quranfont').value = quranfont;
    }

    function selectQuranSize(quransize) {
        $('quransize').value = quransize;
    }

    function selectQuranSpeed(quranspeed) {
        $('quranspeed').value = quranspeed;
    }

    function selectQuranRepeat(quranrepeat) {
        $('quranrepeat').value = quranrepeat;
    }

    function selectTranslationSize(translationsize) {
        $('translationsize').value = translationsize;
    }

    function onchangeChapter() {
        localStorage.setItem("quran_chapter", $('chapter').value);
        updateVerse(localStorage.getItem("quran_chapter"));
        selectVerse(DEFAULT_VERSE);
        localStorage.setItem("quran_verse", DEFAULT_VERSE);
        updateAudio();
        updateQuranContent();
        updateTranslationContent();
        localStorage.setItem("quran_verseloopa", DEFAULT_VERSELOOPA);
        localStorage.setItem("quran_verseloopb", DEFAULT_VERSELOOPB);
        selectVerseLoop(localStorage.getItem("quran_verseloopb"));
        updateVerseLoop();
    }

    function onchangeVerse() {
        localStorage.setItem("quran_verse", $('verse').value);
        updateAudio();
        updateQuranContent();
        updateTranslationContent();
        localStorage.setItem("quran_verseloopa", DEFAULT_VERSELOOPA);
        localStorage.setItem("quran_verseloopb", DEFAULT_VERSELOOPB);
        selectVerseLoop(localStorage.getItem("quran_verseloopb"));
        updateVerseLoop();
    }

    function onchangeVerseLoop() {
        localStorage.setItem("quran_verseloopa", $('verse').value);
        localStorage.setItem("quran_verseloopb", $('verseloop').value);
        if (localStorage.getItem("quran_verseloopb") == 0) {
            localStorage.setItem("quran_verseloopa", 0);
        }
        updateAudio();

        if (localStorage.getItem("quran_verseloopa") != 0) {
            document.getElementById("verselooplabel").innerHTML = "Verse Loop (" + localStorage.getItem("quran_verseloopa") + "-" + localStorage.getItem("quran_verseloopb") + ")";
        } else {
            document.getElementById("verselooplabel").innerHTML = "Verse Loop";
        }
    }

    function onchangeReciter() {
        localStorage.setItem("quran_reciter", $('reciter').value);
        updateAudio();
    }

    function onchangeTranslation() {
        localStorage.setItem("quran_translation", $('translation').value);
        updateTranslationContent();
    }

    function onchangeScript() {
        localStorage.setItem("quran_script", $('script').value);
        updateQuranContent();
    }

    function onchangeQuranFont() {
        localStorage.setItem("quran_quranfont", $('quranfont').value);
        updateQuranFont();
    }

    function onchangeQuranSize() {
        localStorage.setItem("quran_quransize", $('quransize').value);
        updateQuranSize();
    }

    function onchangeQuranSpeed() {
        localStorage.setItem("quran_quranspeed", $('quranspeed').value);
        updateQuranSpeed();
    }

    function onchangeQuranRepeat() {
        localStorage.setItem("quran_quranrepeat", $('quranrepeat').value);
        updateQuranRepeat();
    }

    function onchangeTranslationSize() {
        localStorage.setItem("quran_translationsize", $('translationsize').value);
        updateTranslationSize();
    }




    function tajweeds(tajweeds) {

      fetch('/quran/data/quran-uthmani.json')
          .then(response => response.json())
          .then(quran => tajweeds2(tajweeds,quran[localStorage.getItem("quran_chapter")-1].aya[localStorage.getItem("quran_verse")-1].text));

    }

    function tajweeds2(tajweeds,quran) {

      input = quran;
      output = "";

      start = [];
      rule = [];
      end = [];

      currentrule = 0;

      for (tajweed of tajweeds) 
      {
          start.push(tajweed.start);
          rule.push(tajweed.rule);
          end.push(tajweed.end);
      }

      for (var i = 0; i < input.length; i++) {
          if (i == end[currentrule]) {
              output += "</span>";
              currentrule++;
          }
          if (i == start[currentrule]) {
              output += "<span class='" + rule[currentrule] + "'>";
          }
          // DONT FOR NOW somewhat fix madd tatweel issue
          if (input.charAt(i).charCodeAt(0) == "1648") {
              //output += '\u0640';
          }
          output += input.charAt(i);
          
      }

      $("qurancontent").innerHTML = "<h2 style='line-height: 2; letter-spacing: 0; font-size: unset;'>" + output + "</h2>";
    }

    



    // set options one time only

    if (!localStorage.quran_chapter) {
      localStorage.setItem("quran_chapter", DEFAULT_CHAPTER);
    }
    selectChapter(localStorage.getItem("quran_chapter"));
    updateVerse(localStorage.getItem("quran_chapter"));

    if (!localStorage.quran_verse) {
      localStorage.setItem("quran_verse", DEFAULT_VERSE);
    }
    selectVerse(localStorage.getItem("quran_verse"));

    if (!localStorage.quran_translation) {
      localStorage.setItem("quran_translation", DEFAULT_TRANSLATION);
    }
    selectTranslation(localStorage.getItem("quran_translation"));

    if (!localStorage.quran_reciter) {
      localStorage.setItem("quran_reciter", DEFAULT_RECITER);
    }
    selectReciter(localStorage.getItem("quran_reciter"));

    if (!localStorage.quran_script) {
      localStorage.setItem("quran_script", DEFAULT_SCRIPT);
    }
    selectScript(localStorage.getItem("quran_script"));

    if (!localStorage.quran_quranfont) {
      localStorage.setItem("quran_quranfont", DEFAULT_QURANFONT);
    }
    selectQuranFont(localStorage.getItem("quran_quranfont"));

    if (!localStorage.quran_quransize) {
      localStorage.setItem("quran_quransize", DEFAULT_QURANSIZE);
    }
    selectQuranSize(localStorage.getItem("quran_quransize"));

    if (!localStorage.quran_quranspeed) {
      localStorage.setItem("quran_quranspeed", DEFAULT_QURANSPEED);
    }
    selectQuranSpeed(localStorage.getItem("quran_quranspeed"));

    if (!localStorage.quran_quranrepeat) {
      localStorage.setItem("quran_quranrepeat", DEFAULT_QURANREPEAT);
    }
    selectQuranRepeat(localStorage.getItem("quran_quranrepeat"));

    if (!localStorage.quran_verseloopa) {
      localStorage.setItem("quran_verseloopa", DEFAULT_VERSELOOPA);
    }
    if (!localStorage.quran_verseloopb) {
      localStorage.setItem("quran_verseloopb", DEFAULT_VERSELOOPB);
    }
    selectVerseLoop(localStorage.getItem("quran_verseloopb"));

    if (!localStorage.quran_translationsize) {
      localStorage.setItem("quran_translationsize", DEFAULT_TRANSLATIONSIZE);
    }
    selectTranslationSize(localStorage.getItem("quran_translationsize"));


    // start first audio
    updateAudio();
    preloadAudio();
    updateQuranSize()
    updateQuranSpeed()
    updateQuranRepeat()
    updateQuranFont();
    updateQuranContent();
    updateTranslationSize();
    updateTranslationContent();
    updateVerseLoop();








  </script>


{% include footer %}