---
title: muslimist
description: an ad-free, open source, non-spying collection of tools for muslims
url: https://muslimist.com
---
{% include header %}


			<section class="banner style3 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
				<div class="content">
					<h1>muslimist</h1>
					<p class="major">an ad-free, open source, non-spying collection of tools for muslims</p>
				</div>
				<div class="image">
					<img src="/assets/images/header_home.webp" alt="" />
				</div>
			</section>


			<section onclick="location.href='/times'" class="spotlight style5 orient-right content-align-left image-position-center onscroll-image-fade-in" style="cursor:pointer">
				<div class="content" style="width: 30rem;">
					<h2>times</h2>
					<p>calculate the prayer times for your area</p>
				</div>
				<div class="image">
					<img src="/assets/images/section_times.webp" alt="" />
				</div>
			</section>


			<br>
			<br>


			<section onclick="location.href='/qibla'" class="spotlight style5 orient-left content-align-left image-position-center onscroll-image-fade-in" style="cursor:pointer">
				<div class="content" style="width: 30rem;">
					<h2>qibla</h2>
					<p>find the qibla for your current position</p>
				</div>
				<div class="image">
					<img src="/assets/images/section_qibla.webp" alt="" />
				</div>
			</section>


			<br>
			<br>


			<section onclick="location.href='/quran'" class="spotlight style5 orient-right content-align-left image-position-center onscroll-image-fade-in" style="cursor:pointer">
				<div class="content" style="width: 30rem;">
					<h2>quran</h2>
					<p>read and listen till your heart is content</p>
				</div>
				<div class="image">
					<img src="/assets/images/section_quran.webp" alt="" />
				</div>
			</section>


			<script src="/assets/js/app.min.js"></script>

			<!-- Start Single Page Apps for GitHub Pages -->
		    <script type="text/javascript">
		      // Single Page Apps for GitHub Pages
		      // MIT License
		      // https://github.com/rafgraph/spa-github-pages
		      // This script checks to see if a redirect is present in the query string,
		      // converts it back into the correct url and adds it to the
		      // browser's history using window.history.replaceState(...),
		      // which won't cause the browser to attempt to load the new url.
		      // When the single page app is loaded further down in this file,
		      // the correct url will be waiting in the browser's history for
		      // the single page app to route accordingly.
		      (function(l) {
		        if (l.search[1] === '/' ) {
		          var decoded = l.search.slice(1).split('&').map(function(s) { 
		            return s.replace(/~and~/g, '&')
		          }).join('?');
		          window.history.replaceState(null, null,
		              l.pathname.slice(0, -1) + decoded + l.hash
		          );
		          alert(decoded);
		        }
		      }(window.location))
		    </script>



{% include footer %}
