---
title: Hello from index
---
{% include header %}


			<section class="banner style3 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
				<div class="content">
					<h1>muslimist</h1>
					<p class="major">an ad-free, open source, non-spying collection of tools for muslims</p>
					<ul class="actions stacked">
						<li id="installbutton" style="visibility:hidden"><a href="#" onclick="installApp()" class="button big wide smooth-scroll-middle">Install App</a></li>
					</ul>
				</div>
				<div class="image">
					<img src="/assets/images/header.webp" alt="" />
				</div>
			</section>


			<section onclick="location.href='/prayertimes'" class="spotlight style5 orient-right content-align-left image-position-center onscroll-image-fade-in" style="cursor:pointer">
				<div class="content" style="width: 30rem;">
					<h2>prayer times</h2>
					<p>calculate the prayer times for your area</p>
				</div>
				<div class="image">
					<img src="/assets/images/prayertimes.webp" alt="" />
				</div>
			</section>


			<br>
			<br>


			<section onclick="location.href='/qibla'" class="spotlight style5 orient-left content-align-left image-position-center onscroll-image-fade-in" style="cursor:pointer">
				<div class="content" style="width: 30rem;">
					<h2>qibla</h2>
					<p>find the qibla for your current position</p>
				</div>
				<div class="image">
					<img src="/assets/images/qibla.webp" alt="" />
				</div>
			</section>


			<br>
			<br>


			<section class="spotlight style5 orient-right content-align-left image-position-center onscroll-image-fade-in" style="cursor:pointer">
				<div class="content" style="width: 30rem;">
					<h2>quran</h2>
					<p>read and listen till your heart is content</p>
				</div>
				<div class="image">
					<img src="/assets/images/quran.webp" alt="" />
				</div>
			</section>


			<section class="wrapper style1 align-center">
				<div class="inner medium">
					<h2>Get in touch</h2>
					<form method="post" action="https://formspree.io/f/xwkwagng">
						<div class="fields">
							<div class="field half">
								<label for="name">Name</label>
								<input type="text" name="name" id="name" value="" />
							</div>
							<div class="field half">
								<label for="_replyto">Email</label>
								<input type="email" name="_replyto" id="_replyto" value="" />
							</div>
							<div class="field">
								<label for="message">Message</label>
								<textarea name="message" id="message" rows="6"></textarea>
							</div>
						</div>
						<ul class="actions special">
							<li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
						</ul>
					</form>
				</div>
			</section>



{% include footer %}
